# Nginx site configuration template
server {
    listen 80;

    server_name {{ ansible_hostname }};
    root {{ nginx_website_content_folder }};

    access_log /var/log/nginx/{{ ansible_hostname }}.access.log;
    error_log /var/log/nginx/{{ ansible_hostname }}.error.log warn;

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_page 404 /404.html;
        location = /40x.html {
    }

    error_page 500 502 503 504 /50x.html;
        location = /50x.html {
    }

    location ~ /\.(?!well-known) {
        deny all;
    }
}
